.product-details {
    background: #fff;
    padding: 30px;
    display: grid;
    grid-template-columns: 0.9fr 1.1fr;
    gap: 30px;
}

.product-page-img {
    width: 100%;
    border: 1px solid #eee;
    padding: 5px;
    overflow: hidden;
    position: relative;

    .mySlides {
        width: 100%;
        height: 330px;
        position: relative;

        .numbertext {
            color: #f2f2f2;
            text-shadow: 0 0 4px blue;
            font-size: 12px;
            padding: 8px 12px;
            position: absolute;
            top: 0;
            left: 0;
        }

        img {
            width: 100%;
            height: 100%;
            display: inline-block;
            // object-fit: contain;
            object-fit: cover;
        }
    }

    .prev,
    .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        // left: 0;
        transform: translateY(-50%);
        width: auto;
        padding: 10px;
        margin-top: -50px;
        color: white;
        font-weight: bold;
        font-size: 20px;
        border-radius: 0 3px 3px 0;
        user-select: none;
    }

    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }

    .prev:hover,
    .next:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }

    .slider-img {
        width: 100%;
        height: 50px;
        overflow-x: scroll;
        display: flex;
        user-select: none;

        &::-webkit-scrollbar {
            display: none;
        }

        .slider-box {
            width: 50px;
            height: 50px;
            min-width: 50px;
            cursor: pointer;
            overflow: hidden;
            border: 1px solid #ddd;
            padding: 2px;
            opacity: 0.6;

            img {
                width: 100%;
                height: 100%;
                display: inline-block;
                object-fit: cover;
            }

            &:hover {
                border: 2px solid teal;
                opacity: 1;
            }
        }

        .slider-box.active {
            border: 2px solid crimson;
            opacity: 1;
        }
    }
}