.product-details {
    background: #fff;
    padding: 30px;
    display: grid;
    grid-template-columns: 0.9fr 1.1fr;
    gap: 30px;


    .product-page-img {
        width: 100%;
        border: 1px solid #eee;
        padding: 5px;
        overflow: hidden;
        position: relative;

        .mySlides {
            width: 100%;
            height: 330px;
            position: relative;

            .numbertext {
                color: #f2f2f2;
                text-shadow: 0 0 4px blue;
                font-size: 12px;
                padding: 8px 12px;
                position: absolute;
                top: 0;
                left: 0;
            }

            img {
                width: 100%;
                height: 100%;
                display: inline-block;
                // object-fit: contain;
                object-fit: cover;
            }
        }

        .prev,
        .next {
            cursor: pointer;
            position: absolute;
            top: 50%;
            // left: 0;
            transform: translateY(-50%);
            width: auto;
            padding: 10px;
            margin-top: -50px;
            color: white;
            font-weight: bold;
            font-size: 20px;
            border-radius: 0 3px 3px 0;
            user-select: none;
        }

        .next {
            right: 0;
            border-radius: 3px 0 0 3px;
        }

        .prev:hover,
        .next:hover {
            background-color: rgba(0, 0, 0, 0.8);
        }

        .slider-img {
            width: 100%;
            height: 50px;
            overflow-x: scroll;
            display: flex;
            user-select: none;

            &::-webkit-scrollbar {
                display: none;
            }

            .slider-box {
                width: 50px;
                height: 50px;
                min-width: 50px;
                cursor: pointer;
                overflow: hidden;
                border: 1px solid #ddd;
                padding: 2px;
                opacity: 0.6;

                img {
                    width: 100%;
                    height: 100%;
                    display: inline-block;
                    object-fit: cover;
                }

                &:hover {
                    border: 2px solid teal;
                    opacity: 1;
                }
            }

            .slider-box.active {
                border: 2px solid crimson;
                opacity: 1;
            }
        }
    }

    .product-page-details {
        strong{
            color: #333;
            font-size: 1.3rem;
            font-weight: 700;
            text-transform: capitalize;
        }

        .product-category{
            font-size: 0.9rem;
            color: #535353;
            font-weight: 400;
            text-transform: capitalize;
        }

        .product-price{
            color: #333;
            font-size: 1.2rem;
            font-weight: 700;
            margin: 10px 0 0;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: wrap;

            del{
                color: #992153;
                font-size: 0.85rem;
                font-weight: 400;
                margin-left: 8px;
            }
        }

        .small-desc{
            color: #4b4b4b;
            font-size: 0.9rem;
            background: #fcfcfc;
            font-weight: 400;
            padding: 10px;
            border: 1px solid #f7f7f7;
        }

        .product-options{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin: 20px 0 0;

            span{
                font-size: 1rem;
                color: #1f1f1f;
                font-weight: 600;
                margin-right: 7px;
            }

            button{
                width: 25px;
                height: 25px;
                border: 2px solid #ddd;
                outline: none;
                border-radius: 50%;
                cursor: pointer;
                overflow: hidden;
                margin-right: 5px;
                display: flex;
                justify-content: center;
            }

            button.active{
                border: 2px solid crimson;
            }
        }

        .product-page-offer{
            display: inline-block;
            color: #fff;
            font-size: .8rem;
            padding: 4px 10px;
            border-radius: 10px;
            background: #ec1111;
            margin-top: 10px;
        
            i{
                margin-right: 3px;
            }
        }

        .product-sold{
            margin-top: 15px;
            display: flex;
            align-items: center;

            img{
                width: 30px;
            }

            span{
                font-size: 0.9rem;
                text-transform: capitalize;
                color: crimson;
                font-weight: 500;
            }
        }

        .cart-btns{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-top: 15px;

            .add-cart{
                background: #333;
                color: #fff;
                width: 150px;
                height: 40px;
                border-radius: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 0.9rem;
            }

            .buy-now{}
        }
    }
}