

header {
  position: fixed;
  width: 100%;
  z-index: 100000;
  background: cadetblue;
  transition: all .2s ease-in-out;
  color: var(--light);

  .nav-area{
    width: 90%;
    display: flex;
    padding: 5px 0 0;
    justify-content: space-between;
    margin: 0 auto;
    max-height: 100px;
    transition: all .3s ease;
  }
}


.container{
  width: 95%;
  max-width: 1024px;
  padding: 30px auto;
}

